---
name: CI
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Run PSScriptAnalyzer
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check with PSScriptAnalyzer
      shell: pwsh
      run: |
            $GITHUB_WORKSPACE/.github/scripts/pssa.ps1
